__pycache__/
*.py[cod]
*$py.class

venv/
ENV/
.venv/
env.bak/
venv.bak/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.log

.env
.env.*
!.env.example

.coverage
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

htmlcov/
.pytest_cache/

.ipynb_checkpoints

.mypy_cache/
.dmypy.json
dmypy.json

.github/

*.sqlite3

node_modules/
